.board-square {
  height: var(--square-side);
  background-color: rgba(255, 255, 255, 0.35);
  transition: all 0.25s;
}

.board-square--playing:hover {
  background: #ccc;
}

.board-square:hover.board-square--active {
  background: var(--primary-color);
}

.board-square--dark {
  background-color: rgba(255, 255, 255, 0.15);
}

.board-square--active {
  background: var(--primary-color);
}
