.app {
  height: 100%;
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png)
    repeat top center;
}

.mars-surface {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

.astronaut {
  position: absolute;
  right: 10%;
  top: 10%;
  animation: floating 50s infinite;
  z-index: -1;
}

.spaceship {
  position: absolute;
  left: 5%;
  top: 5%;
  animation: flying 15s linear infinite;
}

.spaceship__fire {
  position: absolute;
  bottom: 11px;
  left: 9px;
  transform: rotate(4deg);
  animation: fire 0.2s linear infinite;
}

@keyframes floating {
  from {
    transform: rotate(20deg) translateY(0px) scale(1);
  }
  50% {
    transform: rotate(-10deg) translateY(60px) scale(0.4);
  }
  to {
    transform: rotate(20deg) translateY(0px) scale(1);
  }
}

@keyframes flying {
  0% {
    transform: translate(-200px, 200px) rotate(-10deg);
  }
  20% {
    transform: translate(100px, -200px) rotate(-10deg);
  }
  100% {
    transform: translate(100px, -200px) rotate(-10deg);
  }
}

@keyframes fire {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
