.board-piece {
  height: var(--piece-side);
  width: var(--piece-side);
  font-size: 48px;
  position: absolute;
  pointer-events: none;
  transition: transform 1s, opacity 0.5s;
  text-align: center;
}

.board-piece--captured {
  opacity: 0;
}

.a8 {
  transform: translate(0px, 0px);
}

.b8 {
  transform: translate(60px, 0px);
}

.c8 {
  transform: translate(120px, 0px);
}

.d8 {
  transform: translate(180px, 0px);
}

.e8 {
  transform: translate(240px, 0px);
}

.f8 {
  transform: translate(300px, 0px);
}

.g8 {
  transform: translate(360px, 0px);
}

.h8 {
  transform: translate(420px, 0px);
}

.a7 {
  transform: translate(5px, 60px);
}
.b7 {
  transform: translate(60px, 60px);
}
.c7 {
  transform: translate(120px, 60px);
}
.d7 {
  transform: translate(180px, 60px);
}
.e7 {
  transform: translate(240px, 60px);
}
.f7 {
  transform: translate(300px, 60px);
}
.g7 {
  transform: translate(360px, 60px);
}
.h7 {
  transform: translate(420px, 60px);
}

.a6 {
  transform: translate(5px, 120px);
}
.b6 {
  transform: translate(60px, 120px);
}
.c6 {
  transform: translate(120px, 120px);
}
.d6 {
  transform: translate(180px, 120px);
}
.e6 {
  transform: translate(240px, 120px);
}
.f6 {
  transform: translate(300px, 120px);
}
.g6 {
  transform: translate(360px, 120px);
}
.h6 {
  transform: translate(420px, 120px);
}

.a5 {
  transform: translate(5px, 180px);
}
.b5 {
  transform: translate(60px, 180px);
}
.c5 {
  transform: translate(120px, 180px);
}
.d5 {
  transform: translate(180px, 180px);
}
.e5 {
  transform: translate(240px, 180px);
}
.f5 {
  transform: translate(300px, 180px);
}
.g5 {
  transform: translate(360px, 180px);
}
.h5 {
  transform: translate(420px, 180px);
}

.a4 {
  transform: translate(5px, 240px);
}
.b4 {
  transform: translate(60px, 240px);
}
.c4 {
  transform: translate(120px, 240px);
}
.d4 {
  transform: translate(180px, 240px);
}
.e4 {
  transform: translate(240px, 240px);
}
.f4 {
  transform: translate(300px, 240px);
}
.g4 {
  transform: translate(360px, 240px);
}
.h4 {
  transform: translate(420px, 240px);
}

.a3 {
  transform: translate(5px, 300px);
}
.b3 {
  transform: translate(60px, 300px);
}
.c3 {
  transform: translate(120px, 300px);
}
.d3 {
  transform: translate(180px, 300px);
}
.e3 {
  transform: translate(240px, 300px);
}
.f3 {
  transform: translate(300px, 300px);
}
.g3 {
  transform: translate(360px, 300px);
}
.h3 {
  transform: translate(420px, 300px);
}

.a2 {
  transform: translate(5px, 360px);
}
.b2 {
  transform: translate(60px, 360px);
}
.c2 {
  transform: translate(120px, 360px);
}
.d2 {
  transform: translate(180px, 360px);
}
.e2 {
  transform: translate(240px, 360px);
}
.f2 {
  transform: translate(300px, 360px);
}
.g2 {
  transform: translate(360px, 360px);
}
.h2 {
  transform: translate(420px, 360px);
}

.a1 {
  transform: translate(5px, 420px);
}
.b1 {
  transform: translate(60px, 420px);
}
.c1 {
  transform: translate(120px, 420px);
}
.d1 {
  transform: translate(180px, 420px);
}
.e1 {
  transform: translate(240px, 420px);
}
.f1 {
  transform: translate(300px, 420px);
}
.g1 {
  transform: translate(360px, 420px);
}
.h1 {
  transform: translate(420px, 420px);
}