.board-square {
  cursor: pointer;
  height: var(--piece-side);
  background: #80ac51;
  transition: all 0.25s;
}

.board-square:hover {
  background: #ccc;
}

.board-square:hover.board-square--active {
  background: var(--active-color);
}

.board-square--dark {
  background: #678e49;
}

.board-square--active {
  background: var(--active-color);
}
