.board {
  --square-side: 60px;
  display: grid;
  grid-template-columns: repeat(8, var(--square-side));
  width: 480px;
  margin: 20px auto 0;
}

.board--playing {
  cursor: pointer; 
}

.board--loading {
  cursor: wait;
}