.board {
  --piece-side: 60px;
  display: grid;
  grid-template-columns: repeat(8, var(--piece-side));
  --active-color: red;
  width: 480px;
  margin: 20px auto 0;
  color: #000000;
}

.board--playing {
  cursor: pointer; 
}

.board--loading {
  cursor: wait;
}