.board {
  --piece-side: 60px;
  display: grid;
  grid-template-columns: repeat(8, var(--piece-side));
  --active-color: red;
  width: 480px;
  margin: 0 auto;
}

.chess-piece {
  height: var(--piece-side);
  font-size: 48px;
  text-align: center;
  position: absolute;
  pointer-events: none;
  transition: transform 1s, opacity 0.5s;
}

.chess-piece--captured {
  opacity: 0;
}

.square {
  cursor: pointer;
  height: var(--piece-side);
  background: #80AC51;
}

.square:hover {
  background: #ccc;
}

.square:hover.square--active {
  background: var(--active-color);
}

.square--dark {
  background: #678E49;
}

.square--active {
  background: var(--active-color);
}

/* Square */
.a8 {
  transform: translate(5px, 0px);
}

.b8 {
  transform: translate(65px, 0px);
}

.c8 {
  transform: translate(125px, 0px);
}

.d8 {
  transform: translate(185px, 0px);
}

.e8 {
  transform: translate(245px, 0px);
}

.f8 {
  transform: translate(305px, 0px);
}

.g8 {
  transform: translate(365px, 0px);
}

.h8 {
  transform: translate(425px, 0px);
}

.a7 {
  transform: translate(5px, 60px);
}
.b7 {
  transform: translate(65px, 60px);
}
.c7 {
  transform: translate(125px, 60px);
}
.d7 {
  transform: translate(185px, 60px);
}
.e7 {
  transform: translate(245px, 60px);
}
.f7 {
  transform: translate(305px, 60px);
}
.g7 {
  transform: translate(365px, 60px);
}
.h7 {
  transform: translate(425px, 60px);
}

.a6 {
  transform: translate(5px, 120px);
}
.b6 {
  transform: translate(65px, 120px);
}
.c6 {
  transform: translate(125px, 120px);
}
.d6 {
  transform: translate(185px, 120px);
}
.e6 {
  transform: translate(245px, 120px);
}
.f6 {
  transform: translate(305px, 120px);
}
.g6 {
  transform: translate(365px, 120px);
}
.h6 {
  transform: translate(425px, 120px);
}

.a5 {
  transform: translate(5px, 180px);
}
.b5 {
  transform: translate(65px, 180px);
}
.c5 {
  transform: translate(125px, 180px);
}
.d5 {
  transform: translate(185px, 180px);
}
.e5 {
  transform: translate(245px, 180px);
}
.f5 {
  transform: translate(305px, 180px);
}
.g5 {
  transform: translate(365px, 180px);
}
.h5 {
  transform: translate(425px, 180px);
}

.a4 {
  transform: translate(5px, 240px);
}
.b4 {
  transform: translate(65px, 240px);
}
.c4 {
  transform: translate(125px, 240px);
}
.d4 {
  transform: translate(185px, 240px);
}
.e4 {
  transform: translate(245px, 240px);
}
.f4 {
  transform: translate(305px, 240px);
}
.g4 {
  transform: translate(365px, 240px);
}
.h4 {
  transform: translate(425px, 240px);
}

.a3 {
  transform: translate(5px, 300px);
}
.b3 {
  transform: translate(65px, 300px);
}
.c3 {
  transform: translate(125px, 300px);
}
.d3 {
  transform: translate(185px, 300px);
}
.e3 {
  transform: translate(245px, 300px);
}
.f3 {
  transform: translate(305px, 300px);
}
.g3 {
  transform: translate(365px, 300px);
}
.h3 {
  transform: translate(425px, 300px);
}

.a2 {
  transform: translate(5px, 360px);
}
.b2 {
  transform: translate(65px, 360px);
}
.c2 {
  transform: translate(125px, 360px);
}
.d2 {
  transform: translate(185px, 360px);
}
.e2 {
  transform: translate(245px, 360px);
}
.f2 {
  transform: translate(305px, 360px);
}
.g2 {
  transform: translate(365px, 360px);
}
.h2 {
  transform: translate(425px, 360px);
}

.a1 {
  transform: translate(5px, 420px);
}
.b1 {
  transform: translate(65px, 420px);
}
.c1 {
  transform: translate(125px, 420px);
}
.d1 {
  transform: translate(185px, 420px);
}
.e1 {
  transform: translate(245px, 420px);
}
.f1 {
  transform: translate(305px, 420px);
}
.g1 {
  transform: translate(365px, 420px);
}
.h1 {
  transform: translate(425px, 420px);
}

