.game-room {
  color: #ffffff;
  padding-top: 50px;
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

nav {
  text-align: left;
  padding: 15px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.error {
  color: red;
}

.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
  flex-direction: column;
}

.spinner__image {
  margin-top: 15px;
  animation: loading 1s infinite;
}

.spinner__text {
  margin-top: 5px;
}

@keyframes loading {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.moves-history {
  padding: 0 10px;
}

.turn-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 125px;
  margin: 0 auto 20px;
}

.turn-switch__item {
  opacity: 0.1;
}

.turn-switch__image {
  display: block;
  width: 55px;
}

.turn-switch__item--active {
  opacity: 1;
}

.highlighted-text {
  display: inline-block;
  border-bottom: 2px solid var(--primary-color);
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}