.board {
  --piece-side: 60px;
  display: grid;
  grid-template-columns: repeat(8, var(--piece-side));
  --active-color: red;
  width: 480px;
  margin: 0 auto;
}

.chess-piece {
  height: var(--piece-side);
  font-size: 48px;
  text-align: center;
  cursor: pointer;
  background: #80AC51;
}

.chess-piece--dark {
  background: #678E49;
}

.chess-piece--active {
  background: var(--active-color);
}

.chess-piece:hover {
  background: #ccc;
}

.chess-piece:hover.chess-piece--active {
  background: var(--active-color);
}
